/************************************
******************HEADER****************
*************************************/

.imgCafe {
    color: red;
    padding: 100px red;
    margin: 100px yellow;
    width: 700px;
}

/************************************
******************NAV****************
*************************************/

.nav-enlace-registro{
    background: #d94c3a;
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    padding: 7px 20px;
    margin: 100px;
    border-radius:10px;
    list-style-type: none;
}
.titulo-index{
    background: #54a992;
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    padding: 7px 20px;
    border-radius:3px;
}

nav {
    background: #54a992;
    padding: 7px;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 600px) {
    nav{
        flex-direction: column;
    }
    .nav-enlace{
        margin: 10px;
    }
}


/************************************
******************BODY****************
*************************************/

.pedir{
    color: #813a26;
    text-align: center
}

.cuerpo_index{
    background-color: #eddbc3;
    background-repeat: no-repeat; 
}

.bondi{
    width: 300px;
    margin: auto;
    display: block;
}


/*******************************FORMULARIO REGISTRO*************************************/

.body_form{
    background-color: #eddbc3a4;
}

.text-center{
    color: white;
    margin: 1px;
    padding: 1px;
}

.product-row{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.product-card{
    color: #392B27;
    box-shadow: 1px 1px 1px 1px rgba(55, 43, 58, 0.8);
    height: 400px;
}




